@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

html {height:100%; margin:0;}
body {
	color:#fff;
	background-color:#000;
	height:100%;
	margin:0;
	font-family:'Oxygen',sans-serif;
	font-size:110%;
	overflow:hidden;
}
.banner {background-color:#2e368f; height:100px; width:100%;}
.logo {float:left; padding-left:10px; margin:10px; width:100px; height:80px;}
.title {
	float:left;
	padding-left:10px;
	margin:0;
  display:inline-block;
	font-size:70px;
	font-weight:700;
}
.aqi {margin:15px; float:right; color:#000; font-size:60px; font-weight:700;}
#aqi {
	padding:0 10px;
	color:#fff;
	border-radius:15px;
}
#time {
	margin:0 0 0 40px;
	padding:0 10px;
	color:#fff;
}
#slides {position:absolute; overflow:hidden;}
}
iframe {
	border:0;
	position:absolute;
	top:0;
	width:100% !important;
	height:100% !important;
}
